* {
    font-family: "Poppins", sans-serif;
}

main {
    font-size: 1rem;
}

h1 {
   font-family: "Faster One", system-ui;
   margin-bottom: 4rem;
}

a {
    text-decoration: none;
}

.page-wrapper {
    align-items: center;
    column-gap: calc(2rem + 5vw);
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    margin: 2em 5%;
}

.banner-image {
    border-radius: 1rem;
    object-fit: cover;
    max-width: 500px;
}

.form-header {
    font-size: 1.5rem;
    font-weight: 700;
}

.form-wrapper {
    max-width: 456px;
}

.form {
    margin-bottom: 2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.25rem;
}

.input-wrapper input {
    background: hsl(212, 100%, 98%);
    border: 1px solid hsl(227, 22%, 86%);
    border-radius: 0.75rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.forgot-password-link {
    color: hsl(227, 82%, 51%);
    display: block;
    margin-bottom: 1.25rem;
    text-align: right;
}

.submit-btn {
    background-color: hsl(239, 47%, 27%);
    border: none;
    border-radius: 0.75rem;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
    font-size: 1.25rem;
    padding: 1rem;
    width: 100%;
}

.form-login-options {
    margin: 0 auto;
    max-width: 388px;
}

.or-text {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.or-text::before,
.or-text::after {
    border-bottom: 1px solid hsl(189, 25%, 85%);
    content: "";
    flex: 1 1;
    margin: auto;
}

.external-login-btn {
    background-color: hsl(189, 41%, 97%);
    border: none;
    cursor: pointer;
    border-radius: 0.75rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

.external-login-btn figure {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
}

.external-login-btn figcaption {
    color: hsl(228, 28%, 27%);
    font-size: 1rem;
    white-space: nowrap;
}

.bottom-text {
    align-items: center;
    display: flex;
    font-size: 1.125rem;
    gap: 0.5rem;
}

.bottom-text a {
    color: hsl(227, 82%, 51%);
}

.page-wrapper > * {
    width: 100%;
}

@media (min-width: 768px) {
    .page-wrapper {
        align-items: stretch;
        flex-direction: row;
        justify-content: flex-end;
    }

    .page-content,
    .banner-image {
        flex: 1 1 0px;
    }

    .page-content {
        max-width: 500px;
    }
}