.page-container {
    margin: 0;
    padding: 0;
}
.top-section {
    position: relative;
    background-image: url("./da2ee03127e2b8b2d50ab9ea240391e9.png");
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    color:  #FFFFFF;
    ;
    font-size: 17px;
}

.header {
    
    width: 100%;
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    
}

.right-hand-side {
 display: flex;
 width: 419px;
 height: 41px;
 justify-content: space-between;
 margin-right: 170px;
 align-items: center;
}

img {

    width: 121px;
    height: 20px;
}
.left-hand-side {
    margin-left: 100px;
}

.login-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 101px;
    height: 41px;
    background: none;
    border-radius: 50px;
    border-color: #FFFFFF;
    border: solid;
    color: #FFFFFF;
    border-width: 2px;
}

.slide-show-ctn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 300px;
}

.slide-show {
    width: 460px;
}

.get-ticket-btn {
    width: 182px;
    height: 60px;
    margin-left: 10px;
    background-color:  #242565;
    color: #FFFFFF;
    border: none;
    border-radius: 50px;
}

.learn-btn {
    width: 182px;
    height: 60px;
    background: none;
    color: #FFFFFF;  
    border: solid;
    border-radius: 50px;
    border-width: 2px;
    border-color: #0A075F;
}

.search-evts {
    background-color:  #242565;
    ;
    display: grid;
    width: 1081px;
    height: 140px;
    border-radius: 20px;
    position: absolute;
    left: 130px;
    bottom: -70px;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 16px;
    font-weight: 400;
}

.search-ctn {
    padding-left: 20px;
}

.search {
    width: 290px;
  background: none;
  border: none;
  border-bottom: 1px solid #7778B0;
  color: #FFFFFF;
}

.search:focus {
    outline: none;
    
}

.place {
    width: 290px;
  background: none;
  border: none;
  border-bottom: 1px solid #7778B0;
  color: #FFFFFF;
}

.place:focus {
    outline: none;
    
}

.time {
    width: 290px;
  background: none;
  border: none;
  border-bottom: 1px solid #7778B0;
  color: #FFFFFF;
}

.time:focus {
    outline: none;
    
}

 ::placeholder {
    color: #FFFFFF;
    font-size: 22px;
}

/* middle-section */
.middle-section {
    margin-top: 100px;
}

/* bottom-section */

.bottom-section {
    background-color: #0A075F;
    display: grid;
    color: #FFFFFF;
    grid-template-columns: 2fr 1fr 1fr 2fr;
}

.bottom-header {
    font-size: 17px;
    font-weight: 500;
}
.events-column {
    width: 324px;
}