.page-container {
    margin: 0;
    padding: 0;
}
.top-section {
    background-image: url("./da2ee03127e2b8b2d50ab9ea240391e9.png");
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    color:  #FFFFFF;
    ;
}

.header {
    width: 100%;
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
}

.right-hand-side {
 display: flex;
 width: 419px;
 height: 41px;
 justify-content: space-between;
 margin-right: 100px;
}

img {

    width: 121px;
    height: 20px;
}
.left-hand-side {
    margin-left: 100px;
}

.login-btn {
    width: 101px;
    height: 41px;
    background: none;
    border-radius: 50px;
    border-color: #FFFFFF;
    color: #FFFFFF;
}