.page-container {
    margin: 0;
    padding: 0;
}
.top-section {
    background-image: url("./da2ee03127e2b8b2d50ab9ea240391e9.png");
    width: 100%;
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    color:  #FFFFFF;
    ;
}

.header {
    width: 100%;
    display: flex;
    padding-top: 20px;
}

.right-hand-side {
 display: flex;
}

img {

    width: 121px;
    height: 20px;
}
/* .left-hand-side {
    
} */